---
import App from '../components/App.jsx';
import '../styles/global.css'; // Importa el CSS global
---


<html lang="en">
  <head>
    <title>Evaluación Método Rosa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <App client:load />
    </div>
  </body>
</html>